/* 
.content{

    margin-top: 50px;
   
}
.top{
    
    height: 50vh;
    width: 100%;
    background-image: url('../media/Background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
   

} */

.content {
    margin-top: 0px;
  }
  
  .top {
    height: 40vh;
    width: 100%;
    background-image: url('../media/Background.png'); /* Using template string syntax as a placeholder */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .overlay-text h1 {
    color: white;
    font-size: 96px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    padding-top: 40%;
    font-family: 'Josefin Sans';
    font-weight: 600;
  }
  
  
  .search-container {
    margin-top: 30px;
    
  }
  .bottom{
    text-align: center; 
    border-radius: 50px;
  }
  
  .bottom p{
    /* padding-left: 35%; */
    font-size: xx-large;
    font-weight: 700;
    font-size: 40px;
    
  }
  
  .search-container input {
    font-size: 1rem;
    padding: 10px;
    width: 300px;
    border: none;
    border-radius: 20px;
    text-align: center;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
  }
  
  .map-container {
    display: flex;
    height: 100vh;
    width: 100%;
    background-color: rgb(34, 34, 34);
  }
  
  .map-container-left {
    flex: 0 0 750px;
  }
  
  .map-container-right {
    flex: 1 0 300px;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: rgb(34, 34, 34); 
  }
  
  .right-footer {
    height: 60px;
    background-color: #ffffff;
    text-align: center;
    transform: translateY(10px); 
  }

  .map-content-container {
    margin-top: 120px;
    margin: 40px;
    margin-right: 40px;
    height: 571px;
    background-color: #2a2a2a;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.2);
    transform: translateY(40px);
    width: 460px;
  }

  .back-button {
    cursor: pointer;
    color: #ffffff;
    font-size: 20px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px
  }

  .Menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #ffffff;
  }

  .Review {
    margin-right: 60px;
    cursor: pointer;
    color: #ffffff
    
  }

  .OverView {
    cursor: pointer;
    margin-left: 40px;
    color: #ffffff
  }
  .OverView.active {
    cursor: pointer;
    margin-left: 40px;
    color: #b3daff
  }
  .Review.active {
    margin-right: 60px;
    cursor: pointer;
    color: #b3daff
    
  }

  .cover-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .Trail-Menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-left: 22.5px;
    margin-right: 22.5px;
    margin-bottom: 5px;
    height: 180px;
    overflow-y: auto;
    box-shadow: 0px 3px 2px rgba(0,0,0,0.2);
    scrollbar-color: #2a2a2a;
  }

  .Trail {
    cursor: pointer;
    font-size: 15px;
    margin-top: 5px;
    color: #ffffff;
    padding-left: 20px;
    padding-right: 10px;
  }
  .Trail.active {
    cursor: pointer;
    font-size: 15px;
    color: #b3daff;
    margin-top: 5px;
  }

  .hillTitle {
    font-size: 25px;
    margin-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    color: #ffffff;
  }

  .title-container {
    display: flex;
    align-items: center;  
    animation: slideLeft 1s ease-out;
  }

.title-default {
  font-weight: bold;
  font-size: 30px;
  color: #ffffff;
  margin-top: 50px;
}

@keyframes slideLeft {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.info-container {
  display: flex;
  flex-direction: column;
}

@keyframes slideLeftt {
  from {
    transform: translateY(-100%);
    visibility: hidden;
  }
  to {
    transform: translateY(0);
    visibility: visible;
  }
}

.col1 {
  display: flex;
  flex-direction: row;
  animation: slideLeftt 1s ease-out;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  visibility: hidden;
}
.col1:nth-child(3) {
  animation-delay: 2s; 
}

.col1:nth-child(4) {
  animation-delay: 3s; 
}

.col1:nth-child(5) {
  animation-delay: 4s; 
}


.text1 {
  margin-top: 50px;
  margin-right: 20px;
  font-size: 15px;
  color: #ffffff;
}

@keyframes slideRight {
  from {
    transform: translateX(-100%);
    visibility: hidden;

  }
  to {
    transform: translateX(0);
    visibility: visible;

  }
}

.table {
  padding-top: 5px;
  width: 300px;
  border-collapse: collapse;
  height: 120px;
  border-collapse: separate; 
  border-spacing: 0 10px;
}

.progress-row {
  padding-top: 10px;
  height: 20px;
  display: flex;

}

.star-rating {
  width: 50px;
  color: white;
  text-align: center;
}

.progress-bar-container {
  background-color: #656565;
  border-radius: 15px;
  overflow: hidden;
  margin-top: 5px;
  height: 8px;
  width: 200px;
}

.progress-bar {
  background-color: #ffcc00;
  border-radius: 15px;
  padding-right: 10px;
  height: 8px;
}


.stats-review-container {
  display: flex;
  flex-direction: column;
}

.rating {
  color: #ffffff;
  font-size: 50px;
  padding-top: 40px;
  padding-left: 20px;
}

.stars {
  display: flex;
  flex-direction: row;
}

.star {
  position: relative;
  display: inline-block;
  width: 10px; 
  height: 10px; 
  margin-right: 15px; 
}

.star::before {
  content: "\2605";
  position: absolute;
  top: 0;
  left: 0;
  font-size: 20px;
}

.numbers {
  color: #ffffff;
  padding-top: 15px;
  font-size: 10px;
}

.write-review {
  width: 150px;
  height: 40px;
  background-color: #2a2a2a;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  box-shadow: 0px 3px 2px rgba(0,0,0,0.2);
  font-size: 15px;
  cursor: pointer;
}

.review-list {
  margin-top: 30px;
  width: 500px;
  height: 500px;
  overflow-y: auto;
  margin-bottom: 20px;
  scrollbar-color: dark;
}


.reviews-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 750px;
  height: 670px;
  z-index: 10; 
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: rgb(34, 34, 34, 0.8); 
  animation: slideRight 1s ease-out;
}

.Reviews {
  margin-top: 10px;
  margin-left: 22.5px;
  margin-right: 22.5px;
  margin-bottom: 5px;
  height: 180px;
  box-shadow: 0px 3px 2px rgba(0,0,0,0.2);
  display: flex;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 5px 5px rgba(0,0,0,0.2);
  background-color: #2a2a2a;
  width: 500px;
  height: 500px;
  z-index: 1000; 
  margin-left: 140px;
  margin-top: 70px;
  border-radius: 10px;
}

.form-menu-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-top: 1px solid white;
  padding-top: 20px;
}

.user-row {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
  margin-left: 5px;
}


.stars2 {
  display: flex;
  flex-direction: row;
  height: 80px;
  margin-bottom: 20px;
  margin-left: 5px;
}

.star2 {
  position: relative;
  display: inline-block;
  width: 30px; 
  height: 25px; 
  margin-right: 35px; 
  cursor: pointer;
}

.star2::before {
  content: "\2605";
  position: absolute;
  top: 0;
  left: 0;
  font-size: 50px;
  text-shadow: 
    -1px -1px 0 #ffffff59,
    1px -1px 0 #ffffff59,
    -1px 1px 0 #ffffff59,
    1px 1px 0 #ffffff59; 
}

.star2.clicked::before {
  color: #ffcc00;
  text-shadow: 
  0 0 0 #ffffff59,
  0 0 0 #ffffff59,
  0 0 0 #ffffff59,
  0 0 0 #ffffff59; 
}

.user {
  color: #ffffff;
  padding-right: 35px;
}

.submit-button {
  color: #ffffff;
  cursor: pointer;
}

.close-button {
  color: #ffffff;
  cursor: pointer;
}

.textbox {
  width: 305px;
  height: 100px;
  overflow-y: auto;
  background-color: #2a2a2a;
  color: #ffffff;
  font: arial;
  margin-bottom: 30px;
  margin-left: 5px;
}

.input {
  background-color: #2a2a2a;
  color: #ffffff;
  font: arial;
  height: 20px;
  width: 220px;
}

.review {
  width: 400px;
  height: 150px;
  background-color: #2a2a2a;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0px 3px 2px rgba(0,0,0,0.2);
  display: flex;
  align-content: center;
  flex-direction: column;
  margin-left: 50px;
}

.review-user {
  color: #ffffff;
  font-weight: bold;
  margin-left: 20px;
  margin-top: 20px;
}

.stars3 {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  margin-top: 5px;
}

.star3 {
  position: relative;
  display: inline-block;
  width: 5px; 
  height: 5px; 
  margin-right: 12px; 
}

.star3::before {
  content: "\2605";
  position: absolute;
  top: 0;
  left: 0;
  font-size: 15px;
}

.review-comment {
  margin-left: 20px;
  margin-top: 20px;
  color: #ffffff;
  overflow-y: auto;
  width: 360px;
  height: 60px;
  scrollbar-color: dark;
}
